---
layout: page
title: James Scott
subtitle: University of Texas at Austin
use-site-title: false
---

<div class="home">

    <div class="content">
      <article >
      
<h3 id="about">About me</h3>

<p>
<img src="/files/jgscott201605.png" ALIGN="left" HSPACE=”30” VSPACE=”30”/>
Hi, I'm James Scott.  I am a statistician and data scientist at the University of Texas at Austin.  My research interests are mainly in statistical computation and Bayesian inference.
I’ve done recent work on nonparametric empirical-Bayes methods, data-augmentation schemes for Bayesian
computation, scalable algorithms, multiple testing and
high-dimensional screening problems, prior choice in hierarchical
models, and Bayesian methods in machine learning.  My recent collaborative projects have involved applications in health care, security, and neuroscience.  In the past I’ve also done work in linguistics,
political science, finance, infectious disease, astronomy, and molecular biology.   See my
<a href="/papers.html">Papers</a> and <a href="/software.html">Software</a> pages for more
detail.  </p>

<p> <a href="/files/jamesscottcv.pdf">CV</a>, 
  <a href="https://github.com/jgscott">GitHub</a>, 
  <a href="http://scholar.google.com/citations?user=Ww_1EOMAAAAJ">Google Scholar</a>   </p>


<h3 id="affiliations">Affiliations</h3>
<p>Department of Information, Risk, and Operations Management (McCombs
School of Business)<br />
Department of Statistics and Data Sciences (College of Natural
Sciences)  </p>

<h3 id="mailing-address">Contact information</h3>
<p>James G. Scott <br />
Associate Professor of Statistics <br>
2110 Speedway, B6500 <br />
Austin, Texas 78712 <br />
(512) 471-5905 <br> 
james.scott@mccombs.utexas.edu <br>
Office: CBA 6.478 <br>
</p>

<h3 id="education">Education</h3>
<p>Ph.D in Statistics, Duke University (2009)<br />
M.A.St in Mathematics, University of Cambridge (2005)<br />
B.S in Mathematics, University of Texas (2004)  </p>


  </section>

</article>
    </div>
</div>


{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
