---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/james_abbie_banner.png">
      <div class="hero__wrap">
        <h1 class="hero__title">James Scott</h1>
        <p class="hero__meta">Associate Professor of Statistics and Data Sciences <br>
        University of Texas at Austin
        <br>
        james.scott@mccombs.utexas.edu</p>
      </div>
    </div>

    <main class="site__content">
      <div class="container">
        <div class="page-content">

          <p>Hi, I'm James Scott.  I am a statistician and data scientist at the University of Texas at Austin.  Here you can find information about <a href="{{ site.baseurl }}/research/">my research</a>, the <a href="{{ site.baseurl }}/books/">books and articles</a> I've written, and <a href="{{ site.baseurl }}/teaching/">the classes I teach</a>.  
          </p>

        </div>
      </div>
    </main>

    <!--
    <main class="site__content">

      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

          </div>
        </div>
      </section>
    </main>
    -->

    {% include footer.html %}

  </body>

</html>
