---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include header.html %}

    <div class="hero--small" style="background-color: white;">
      <div class="hero__wrap" style="display: flex; justify-content: space-between; align-items: center; max-width: 1200px; margin: 0 auto; padding: 2rem;">
        <h1 class="hero__title" style="color: #343851; font-weight: 600; font-size: 2.5rem; margin: 0;">Sahil Ravgotra</h1>
        <img src="{{ site.baseurl }}/assets/img/posts/UT_logo.png" alt="UT Logo" style="height: 50px; margin-left: 1rem;" />
      </div>
    </div>

    <main class="site__content">
      <div class="container">
        <div class="page-content">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>

</html>
